.container {
  margin: 20px auto;
  width: 100%;
  padding: 0px 20px 20px 20px;
  font-family: 'Bubbler One', sans-serif;
  margin:0 auto;
}

.welcome{
  font-size: 20px;
  border: 1px dotted black;
  padding: 50px;
  margin: 20px;
  text-align: center;

}

.menu {
  padding-top: 50px;
  font-size: 20px;
  text-align: center;
}

.header{
  font-size: 30px;
}

.response_space{
  background-color:#FBF8FB;
  color: #1F001F;
  overflow: hidden;
}

form {
  padding-top: 30px;
  float:left;
  width: 30%;
}

th {
  text-align: left;
}

.login {
  float: left; 
  width: 100px;
  margin: 10 20 20 10px;
  padding-left: 200px;
}

.create_account{
  float: right; 
  width: 100px;
  margin: 10 20 20px 10px;
  padding-right: 250px;
}

.survey{
  float: center; 
  width: 100%;
/*  margin: 10 20 20px 10px;
  padding-right: 250px;*/
}

#logout {
  float: left; 
  width: 50px;
  /*margin: 10 20 20 10px;*/
  padding-left: 50px;
}

#user_home{
  float: right; 
  width: 50px;
  /*margin: 10 20 20px 10px;*/
  padding-right: 50px;
}

.show_header{
  font-size: 20px;
  border: 1px dotted black;
  padding: 50px;
  margin: 20px;
  text-align: center;
}

.survey {
  float: left;
  margin-left: 65px;
  margin-bottom: 100px;
}

.answer_form{
  width: 100%;
  margin-left: 69px;
}

.list_survey{
  text-align: center;
}
