<div class="container">
  <div class="welcome">
    <h1> WELCOME | BIENVENUE | 歡迎光臨 | BIENVENIDO </h1>
    <h1>To</h1>
    <h1>CAPUCHINS</h1>
  </div>
  <div class="menu">
    <a href="/surveys/new">Click Here To Create A New Survey</a>
  </div>
</div>
