<div class="container">
  <form action="/submit_survey/<%=@survey.id%>" method="post">
    <%@survey.questions.each do |question|%>
      <h4 id=<%=question.id%>><%=question.text%></h4>
      <textarea cols="40" rows="5" name="response[<%=question.id%>]"></textarea><br><br>
    <%end%>
    <input type="submit" value="Submit">
  </form>
</div>

