<h1>Create Survey</h1>

<form action="/surveys" method="post">
  <label for="title">
  <input type="text" name="title" id="title" required="true">
  <input type="submit" value="Create Survey">
</form>

<