
<div class="container">
  <h1>Create Survey</h1>

  <form action="/surveys" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required="true">
    <input type="submit" value="Create Survey">
    <input type="button" value="Add Question" id="add_question">
    <label for="question">Question:</label>
    <input type="text" name="question" id="question">
  </form>
</div>