<div class="container">
  <div class="show_header">
  <h1>Create Survey</h1>
</div>

  <form class="survey">
    <input type="hidden">
    <label>Title: <br><input type="text" name="title" id="title" required="true"></label><br><br>
    <label>Question: <br><input type="text" name="question" class="question" required="true"></label>
    <input type="button" value="Next Question" class="submit_question"><br><br>
      <input type="button" value="Add Choice" class="add_choice"><br>
    <ul >
      <div class="more_choice">
      <li><label>Choice: <input type="text" name="choices[]" class="choice" required="true"></label></li>
    </div>
    </ul>
    <br><br>
    <input type="submit" value="Generate Survey">
  </form>


  <div id="survey_display">
  </div>

  <div class="url_display">
  </div>
</div>

  <div class="container">
  <div id="logout">
    <% if logged_in? %>
      <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="submit" value="Logout">
      </form>
    <% end %>
  </div>
  <div id="user_home">
    <% if logged_in? %>
      <% user = User.find(session[:id]) %>
      <form action = "/users/<%=user.id%>" method="get">
      <input type="submit" value="User Homepage">
      </form>
    <% end %>
  </div>