<div class="container">
  <h1>Create Survey</h1>

  <form class="survey">
    <label>Title:<input type="text" name="title" id="title" required="true"></label>
    <input type="button" value="Next Question" class="submit_question">
    <label>Question:<input type="text" name="question" class="question" required="true"></label>
    <input type="button" value="Add Choice" class="add_choice">
    <label>Choice:<input type="text" name="choices[]" class="choice" required="true"></label>
    <input type="submit" value="Generate Survey">
  </form>


  <div id="survey_display">
  </div>

  <div class="url_display">
  </div>
</div>