<div class="container">

  <h1>Your Surveys</h1>
  <ul>
    <% @surveys.each do |survey| %>
      <li><%=survey.title%></li>
    <% end %>
  </ul>

  <div class="menu">
      <a href="/surveys/new">Click Here To Create A New Survey</a>
  </div>

</div>