<div id= 'navbar' class='absolute-middle'>
    <ul>
      <li class='home-icon'>McTopher</li>
      <li><a href="/">Home</a></li>
      <li><a id="survey-link" href="/forms">Surveys</a></li>
      <% if logged_in? %>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
</div>
