<div id= 'navbar' class='absolute-middle'>
    <ul>
      <li class='home-icon'>McTopher</li>
      <li><a href="/">Home</a></li>
      <li><a href="/forms">Surveys</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
</div>
