<div id="signup">
  <form action="/users" method="post" value="Create Account">
    User Name: <input type="text" name="username" placeholder="User Name"><br>
    Email: <input type="email" name="email" placeholder="Email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Create Account">
  </form>
</div>
