
<br>
<h1> See all surveys </h1>

 <% @forms.each do |form| %>
 <p><a class="show-survey" id="link-size" href="/forms/<%= form.id %>"><%= form.title.capitalize %></a></p>
<% end %>

<!-- <form id="new-form" action="/forms" method="post">
  <button type="submit" class="btn-type-survey">New Survey</button>
</form>
 -->

<a href="/forms/new" class="btn-type-survey get-new-form">Create Survey</a>
 