<form class="get-new-form" action="/forms/new" method="post">
  <input type="submit" value="Create a new Survey!">
</form>

 <% @forms.each do |form| %>
 <p><a href="/forms/<%= form.id %>"><%= form.title %></a></p>
<% end %>
