<div id="login-signup">

  <h1> Login </h1>
  <form action="/login" method="post">
    <input class="input" type="email" name="email" placeholder="someone@example.com"/>
    <input class="input" type="password" required pattern="^(?=.*\d).{4,10}$" name="password" placeholder="password"/>
    <button type="submit" class="btn-type">Login</button>
  </form>

</div>


