<div id="signup-login">

  <h1> Login </h1>
  <form action="/login" method="post">
    <input class="input" type="email" name="email" placeholder="someone@example.com"/>
    <input class="input" type="password" required pattern="^(?=.*\d).{4,10}$" name="password" placeholder="password"/><br>
    <button type="submit" class="btn-type">Login</button>
  </form>
  <a href="/users/new">Not a user? Signup</a>
</div>


