<div id="login">

  <h1> Login </h1>
  <form action="/login" method="post" value="Log In">
    <input class="input" type="text" name="username" placeholder="User Name"><br>
    <input class="input" type="password" name="password" placeholder="password"><br>
    <button class="btn-type" type="submit">Login</button>
  </form>
</div>


