<!-- 1) print question 1 -->
<!-- 2) get all answer for question 1 -->
<h1> Results </h1>

<%  @answer_options.each do |answer_option| %>
  <p><%= answer_option %></p>
<% end %>



<% @questions.each do |question| %>
  <h2><%= question.question %></h2>
  <%= question. %>
<% end %>