<h1><%= @form.title %></h1>

<form action='/entries' method='post'>
<% @questions.each.with_index do |question, qindex| %>
  <h3><%= question.question %></h3>
  <% question.options.each.with_index(1) do |option, oindex| %>
  <input type="radio" name="option<%= 2*qindex+oindex %>"><%= option.answer %></input>
  <% end %>
<% end %>
<br>
  <input type="button" value="submit"/>
</form>